*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
}
.inputs{
    margin: 0 auto;
    background-image: linear-gradient(rgb(18, 156, 230),rgb(19, 82, 5));
    padding: 5px;
    width: 70vh;
    padding-right: 10px;
    margin-top: 5%;
    border-radius:5% ;
    padding: 50px;
    margin-bottom: 5%;
    

    
    
}
.search {
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search input{
   
    
    height: 60px;
    size: 25;
    text-align: center;
    font-size: 18px;
    flex: 1;
    border-radius: 30px;
    border: 0;
    padding: 10px 25px;
    margin-right: 16px;
    outline: 0;
    color: #555;
    background: #ebfffc;
}
.search button{
    background-color: #ebfffc;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;

    
}
.search button:hover{
    background-color: #df6f19d0;
}
.search button img{
    height: 50px;
    padding: 20%;
}
.cityname{
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 70px;
    
}
.temperature{
    color: white;
    font-size: 50px;
    text-align: center;
}
.randominfo{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.humidpercent{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}
.winds{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}
.weatherimg img{    
    margin-left: 25%;   
}
.display{
    display: none;
}
